# Checkpoint 1

## Carregar módulos

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Carregar dados

In [3]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [4]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [5]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

## Ajustes

- Nomes das colunas

In [6]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [7]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [8]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

- Reajustar dados

In [9]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [10]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [11]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long    date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200  3/9/23  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400  3/9/23     0
330324      NaN                 Yemen  15.552727   48.516388  3/9/23  2159
330325      NaN                Zambia -13.133897   27.849332  3/9/23  4057
330326      NaN              Zimbabwe -19.015438   29.154857  3/9/23  5671

In [12]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [13]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [14]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [15]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276

In [16]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200 2023-03-09  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400 2023-03-09     0
330324      NaN                 Yemen  15.552727   48.516388 2023-03-09  2159
330325      NaN                Zambia -13.133897   27.849332 2023-03-09  4057
330326      NaN              Zimbabwe -19.015438   29.154857 2023-03-09  5671

In [17]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [18]:
dados_paises_covid.shape

(330327, 6)

In [19]:
dados_paises_covid_dead.shape

(330327, 6)

In [20]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [21]:
dados_covid.tail()

,province,country,Lat,Long,date,infected,dead
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [22]:
dados_covid.shape

(330327, 7)

## Aqui começa o trabalho

## *Exemplo probabilidades (memórias de cálculo)

- Prob(infectados covid)

total infectados = soma do total de infectados dos 4 países

total_populacao = soma do total de população dos 4 países

P(infectados) = total infectados / total_populacao

- P(infectado covid e ser Brasileiro)

infectado_e_brasil = total de infectados do Brasil

P(infectado covid e ser Brasileiro) = infectado_e_brasil / total_populacao

- P(Infectado covid | ser Brasileiro)

total_brasil_populacao = populacao do Brasil

P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

ou

P(Infectado covid | ser Brasileiro) = infectado_e_brasil / total_brasil_populacao

In [23]:
from datetime import datetime, timedelta

In [24]:
np.max(dados_covid['date']) - timedelta(days=365)

Timestamp('2022-03-09 00:00:00')

###Questão 1
 – Filtrar a data mais recente (realizar o processo para buscar a última data de forma
automatizada) e os países Brasil, Itália, E.U.A e Canadá.
<br>
<Br>
primeiro tirar a coluna de provincias

In [25]:
data_maxima = np.max(dados_covid['date'])
data_maxima

Timestamp('2023-03-09 00:00:00')

filtrar a data mais recente (2023/03/09)
<br> 
depois provincias com as datas mais recentes
 <br>
 depois somar provincias com datas mais recentes

In [26]:
dados_filtrados = dados_covid[dados_covid["date"] == data_maxima]

In [27]:
dados_filtrados

,province,country,Lat,Long,date,infected,dead
330038,NaN,Afghanistan,33.939110,67.709953,2023-03-09,209451,7896
330039,NaN,Albania,41.153300,20.168300,2023-03-09,334457,3598
330040,NaN,Algeria,28.033900,1.659600,2023-03-09,271496,6881
330041,NaN,Andorra,42.506300,1.521800,2023-03-09,47890,165
330042,NaN,Angola,-11.202700,17.873900,2023-03-09,105288,1933
...,...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [28]:
dados_filtrados_2 = dados_filtrados.groupby("country",).sum() .reset_index()

<ipython-input-28-ff87ba695aee>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_filtrados_2 = dados_filtrados.groupby("country",).sum() .reset_index()

In [29]:
dados_filtrados_2

                  country        Lat        Long  infected  dead
0             Afghanistan  33.939110   67.709953    209451  7896
1                 Albania  41.153300   20.168300    334457  3598
2                 Algeria  28.033900    1.659600    271496  6881
3                 Andorra  42.506300    1.521800     47890   165
4                  Angola -11.202700   17.873900    105288  1933
..                    ...        ...         ...       ...   ...
196    West Bank and Gaza  31.952200   35.233200    703228  5708
197  Winter Olympics 2022  39.904200  116.407400       535     0
198                 Yemen  15.552727   48.516388     11945  2159
199                Zambia -13.133897   27.849332    343135  4057
200              Zimbabwe -19.015438   29.154857    264276  5671

[201 rows x 5 columns]

In [30]:
 dados_filtrados_2 [dados_filtrados_2["country"].isin (["Brazil", "Italy", "US",])]

    country       Lat       Long   infected     dead
24   Brazil -14.23500  -51.92530   37076053   699276
86    Italy  41.87194   12.56738   25603510   188322
186      US  40.00000 -100.00000  103802702  1123836

In [31]:
dados_canada = dados_covid[dados_covid["country"] == "Canada"]

In [32]:
dados_canada

,province,country,Lat,Long,date,infected,dead
40,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0
41,British Columbia,Canada,53.7267,-127.6476,2020-01-22,0,0
42,Diamond Princess,Canada,0.0000,0.0000,2020-01-22,0,0
43,Grand Princess,Canada,0.0000,0.0000,2020-01-22,0,0
44,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0
...,...,...,...,...,...,...,...
330089,Prince Edward Island,Canada,46.5107,-63.4168,2023-03-09,56523,93
330090,Quebec,Canada,52.9399,-73.5491,2023-03-09,1320325,18160
330091,Repatriated Travellers,Canada,NaN,NaN,2023-03-09,13,0
330092,Saskatchewan,Canada,52.9399,-106.4509,2023-03-09,153651,1890
330093,Yukon,Canada,64.2823,-135.0000,2023-03-09,4989,32

In [33]:
 dados_canada2 = dados_canada.groupby("country",).sum() .reset_index()

<ipython-input-33-42487c7c5d1e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_canada2 = dados_canada.groupby("country",).sum() .reset_index()

In [34]:
dados_filtrados_2

                  country        Lat        Long  infected  dead
0             Afghanistan  33.939110   67.709953    209451  7896
1                 Albania  41.153300   20.168300    334457  3598
2                 Algeria  28.033900    1.659600    271496  6881
3                 Andorra  42.506300    1.521800     47890   165
4                  Angola -11.202700   17.873900    105288  1933
..                    ...        ...         ...       ...   ...
196    West Bank and Gaza  31.952200   35.233200    703228  5708
197  Winter Olympics 2022  39.904200  116.407400       535     0
198                 Yemen  15.552727   48.516388     11945  2159
199                Zambia -13.133897   27.849332    343135  4057
200              Zimbabwe -19.015438   29.154857    264276  5671

[201 rows x 5 columns]

In [35]:
dados_canada2

  country          Lat          Long    infected      dead
0  Canada  810221.9508 -1.374569e+06  2261682315  30262409

In [36]:
selected_country = ['Brazil', 'US', 'Italy', 'Canada']

In [37]:
dados_filtrados3 = dados_filtrados[(dados_filtrados['date'] == data_maxima) & \
                                                    (dados_filtrados ['country'].isin(selected_country))]

In [38]:
dados_filtrados3

,province,country,Lat,Long,date,infected,dead
330069,NaN,Brazil,-14.23500,-51.92530,2023-03-09,37076053,699276
330078,Alberta,Canada,53.93330,-116.57650,2023-03-09,629269,5622
330079,British Columbia,Canada,53.72670,-127.64760,2023-03-09,396817,5249
330080,Diamond Princess,Canada,0.00000,0.00000,2023-03-09,0,1
330081,Grand Princess,Canada,0.00000,0.00000,2023-03-09,13,0
330082,Manitoba,Canada,53.76090,-98.81390,2023-03-09,154712,2464
330083,New Brunswick,Canada,46.56530,-66.46190,2023-03-09,88866,834
330084,Newfoundland and Labrador,Canada,53.13550,-57.66040,2023-03-09,54757,318
330085,Northwest Territories,Canada,64.82550,-124.84570,2023-03-09,11511,22
330086,Nova Scotia,Canada,44.68200,-63.74430,2023-03-09,140793,794
330087,Nunavut,Canada,70.29980,-83.10760,2023-03-09,3531,7
330088,Ontario,Canada,51.25380,-85.32320,2023-03-09,1601325,16234
330089,Prince Edward Island,Canada,46.51070,-63.41680,2023-03-09,56523,93
330090,Quebec,Canada,52.93990,-73.54910,2023-03-09,1320325,18160
330091,Repatriated Travellers,Canada,NaN,NaN,2023-03-09,13,0
330092,Saskatchewan,Canada,52.93990,-106.45090,2023-03-09,153651,1890
330093,Yukon,Canada,64.28230,-135.00000,2023-03-09,4989,32
330192,NaN,Italy,41.87194,12.56738,2023-03-09,25603510,188322
330298,NaN,US,40.00000,-100.00000,2023-03-09,103802702,1123836

In [39]:
 dados_4 = dados_filtrados3.groupby("country",).sum() .reset_index()

<ipython-input-39-878f1a434a5d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_4 = dados_filtrados3.groupby("country",).sum() .reset_index()

###Questão 2
–Pesquisar populações de Brasil, Itália, E.U.A. e Canadá. Depois, adicionar estas populações como uma coluna no dataset.

In [40]:
dados_4

  country        Lat        Long   infected     dead
0  Brazil  -14.23500   -51.92530   37076053   699276
1  Canada  708.85560 -1202.59790    4617095    51720
2   Italy   41.87194    12.56738   25603510   188322
3      US   40.00000  -100.00000  103802702  1123836

In [41]:
dados_4['população'] = np.log(dados_4['infected'])

In [42]:
dados_4['população'] = '214300000', '38250000', '58110000', '331900000'

In [43]:
dados_4[dados_4['country'].isin(['Brazil', 'US', 'Canada', 'Italy'])]

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

###Questão 3
– Considerando   somente   os   dados   dos   países   apresentados,   encontre   as   seguintes probabilidades, baseando-se na coluna de infectados:
<br>
*No próprio arquivo “.ipynb” é apresentado um exemplo.
<br>
a)P(infectado covid):
<br>
b)P(infectado covid e ser Brasileiro):
<br>
c)P(infectado covid | ser Brasileiro):
<br>
d)Compare estes resultados com o mesmo período do ano passado.

In [44]:
dados_covid

,province,country,Lat,Long,date,infected,dead
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0
...,...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

#3 A)
 P(infectado covid):

total de pessoas / total de infectados

In [45]:
dados_4

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [46]:
dados_4['população'] = dados_4['população'].astype(int)
dados_4

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [47]:
populacao_total = dados_4['população'].sum()
populacao_total

642560000

In [48]:
infectados_total = dados_4['infected'].sum()
infectados_total

171099360

In [49]:
infectados_total / populacao_total

0.2662776394422311

### 3 B)
 P (infectado covid e ser Brasileiro)

Infec_brasil / População_total

In [50]:
dados_4

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [51]:
dados_brasil = dados_4[dados_4['country'] == 'Brazil']
dados_brasil

  country     Lat     Long  infected    dead  população
0  Brazil -14.235 -51.9253  37076053  699276  214300000

In [52]:
dados_infec_br = dados_brasil['infected'].sum()
dados_infec_br

37076053

In [53]:
p_infec_br = dados_infec_br / populacao_total
p_infec_br

0.057700530689741035

### 3 C)
 P(infectado covid | ser Brasileiro)

In [54]:
dados_brasil

  country     Lat     Long  infected    dead  população
0  Brazil -14.235 -51.9253  37076053  699276  214300000

In [55]:

pop_brasil = dados_brasil['população'].sum()
pop_brasil

214300000

In [56]:
populacao_total

642560000

In [57]:
pop_br_tot = pop_brasil / populacao_total
pop_br_tot

0.3335097111553785

In [58]:

#essa variavel é referente a questao 3d
p_infec_ser_br = p_infec_br / pop_br_tot
p_infec_ser_br

0.17301004666355577

In [62]:
#Exemplo dado pelo alcides
#Pi(Infectado covid | ser Brasilero) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

In [61]:
(dados_infec_br / populacao_total) / (pop_br_tot / populacao_total)

111169335.5841344

###3 D)
Compare estes resultados com o mesmo período do ano passado.

In [64]:
dados_4

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

###3 E)
P(infectado covid e ser USA)

In [86]:
dados_4

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [87]:
dados_us = dados_4[dados_4['country'] == 'US']
dados_us

  country   Lat   Long   infected     dead  população
3      US  40.0 -100.0  103802702  1123836  331900000

In [88]:
infec_us = dados_us['infected'].sum()
infec_us

103802702

In [89]:

p_infec_us = infec_us / populacao_total
p_infec_us

0.16154553971613544

###3 F)
P(infectado covid | ser USA)

In [90]:
pop_us = dados_us['população'].sum()
pop_us

331900000

In [91]:

pop_us_tot = pop_us / populacao_total
pop_us_tot

0.5165276394422311

In [98]:
#P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao) - exemplo

(p_infec_us / populacao_total) / (pop_us_tot / populacao_total)

0.3127529436577282

###3 H)
P(infectado covid e ser Italiano)

In [99]:
dados_4

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [100]:
dados_italy = dados_4[dados_4['country'] == 'Italy']
dados_italy

  country       Lat      Long  infected    dead  população
2   Italy  41.87194  12.56738  25603510  188322   58110000

In [101]:
infec_italy = dados_italy['infected'].sum()
infec_italy

25603510

In [102]:
p_infec_italy = infec_italy / populacao_total
p_infec_italy

0.0398460999750996

###3 i)
P(infectado covid | ser Italiano)

In [105]:
#P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao) - exemplo

In [103]:
pop_italy = dados_italy['população'].sum()
pop_italy

58110000

In [106]:
(infec_italy / populacao_total) / (pop_italy / populacao_total)

0.44060419893305797

###3 J)
Compare estes resultados com o mesmo período do ano passado.

###Questão 4 A)
Encontre as seguintes probabilidades, baseando-se na colunade mortos:

In [67]:

total_mortos = dados_4['dead'].sum()
total_mortos

2063154

In [72]:
p_morto_covid = total_mortos/populacao_total
p_morto_covid

0.003210834785856574

###4 B)
P(morte e ser Brasileiro)

In [75]:
dados_4

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [76]:
dados_morte_br = dados_brasil['dead'].sum()
dados_morte_br

699276

In [77]:
p_morte_br = dados_morte_br / populacao_total
p_morte_br

0.001088265687250996

###4 C)
P(morte covid | ser Brasileiro)

In [81]:
#Exemplo alcides
#P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

In [78]:
pop_br_tot

0.3335097111553785

In [79]:
p_morte_br

0.001088265687250996

In [80]:
p_morto_ser_br = p_morte_br / pop_br_tot
p_morto_ser_br

0.0032630704619692023

In [84]:
(p_morte_br / populacao_total) / (pop_br_tot / populacao_total)

0.0032630704619692023

###4 D)
Compare estes resultados com o mesmo período do ano passado.

###4 E)
P(mortecovid e ser USA)

In [107]:
dados_us

  country   Lat   Long   infected     dead  população
3      US  40.0 -100.0  103802702  1123836  331900000

In [108]:
dados_morte_us = dados_us['dead'].sum()
dados_morte_us

1123836

In [109]:

p_morte_us = dados_morte_us / populacao_total
p_morte_us

0.0017489977589641435

###4 G)
Compare estes resultados com o mesmo período do ano passado

###4 H)
P(mortecovid e ser Italiano)

In [110]:

dados_italy

  country       Lat      Long  infected    dead  população
2   Italy  41.87194  12.56738  25603510  188322   58110000

In [111]:
dados_morte_italy = dados_italy['dead'].sum()
dados_morte_italy

188322

In [112]:
p_morte_italy = dados_morte_italy / populacao_total
p_morte_italy

0.00029308080179282867

###4 i)
P(mortecovid | ser Italiano)

In [114]:
p_morte_italy

0.00029308080179282867

In [120]:
#P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

(dados_morte_italy / populacao_total) / (pop_italy / populacao_total)

0.0032407847186370674